<h1 class="mb-4">イベント一覧</h1>

<!-- クエリが長くなる(複雑になる)可能性がある場合はPOSTを利用してください。 -->
<%= form_with(model: @event_search_form, url: root_path, method: :get) do |f| %>
  <div class="form-group">
    <%= f.label :keyword, 'キーワード' %>
    <%= f.text_field :keyword, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :started_at, '以降に開催されるイベント' %>
    <%= f.datetime_field :started_at, class: "form-control" %>
  </div>

  <%= f.submit '検索', class: "btn btn-primary" %>
<% end %>

<ul class="mt-4 list-group">
  <% @events.each do |event| %>
    <%= link_to event, class: "list-group-item list-group-item-action" do %>
      <h5 class="list-group-item-heading"><%= event.name %></h5>
      <p class="mb-1">
        <%= l(event.started_at, format: :long) %> - <%= l(event.ended_at, format: :long) %>
      </p>
    <% end %>
  <% end %>
</ul>
<div class="mt-2"><%= paginate @events %></div>
